.button {
  background-color: white;
  display: flex;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  font-size: 13px;
  font-family: 'Oswald', sans-serif;
  border-radius: 8px;
  font-size: 1.6rem;
  margin-top: 0.3rem;
  text-transform: uppercase;
}

.button:active {
  transform: translateY(1px);
}

.button:hover {
  cursor: pointer;
}

.regular:hover,
.done:hover {
  background-color: black;
  color: white;
}

.close {
  position: absolute;
  background-color: transparent;
  color: black;
  border: none;
  font-size: 18px;
  top: 0;
  right: 0;
  height: 0.8rem;
}

.close:hover {
  color: red;
}

.done {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  height: max-content;
}
